@import '@nebular/theme/styles/themes/default';
@import '@nebular/theme/styles/themes/dark';
@import '@nebular/theme/styles/theming';
@import "src/assets/styles/variable";

$nb-themes: nb-register-theme((
  font-family-primary: $font-family-base,
  font-family-secondary: $font-family-header,
  text-primary-color: #515177,
  text-basic-color: #515177,
  text-hint-color: #515177,
  text-hss-color: #cb4b4b,
  bs-heading-color: #515177,
  text-secondary-color: #AEAED5,
  text-title-color: #54546c,
  font-white-color: #fafafa,
  font-header-white-color: #fafafa,
  bg-primary-color: #eee0e0,
  bg-primary-color-transparent: #edc0c08c,
  bg-hover-primary-color: #efebeb,
  footer-text-highlight-color: #f27f7f,
  header-background-color: #f1f1f1,
  header-connect-button-bg-color: #ff9184,
  header-connect-button-bg-hover-color: #e19696,
  bs-dropdown-item-link-hover-bg: #e8c5c5,
  footer-background-color: #f1f1f1,
  sidebar-background-color: #f1f1f1,
  layout-background-color: #f1f1f1,
  tree-grid-row-even-background-color: #c9b6b6,
  tree-grid-row-background-color: #d5c0c0,
  tree-grid-row-background-color-highlight: #c2aaaa,
  tree-grid-row-hover-background-color: #d5c0c0,
  tree-grid-header-background-color: #beabaa,
  tree-grid-header-background-color-light: #e7e7e7,
  tree-grid-header-background-color-darker: #dbb0b0,
  menu-item-icon-hover-color: #fff,
  color-danger-hover: #d23f3f,
  color-danger-focus: #d75b5b,
  span-error-background:  #d75b5b,
  input-danger-background-color: #fcf7f7,
  select-outline-danger-background-color: #fcf7f7,
  option-list-background-color: #fcf7f7,
  color-danger-default: #e58e8b,
  text-subtitle-2-font-weight: normal,
  layout-padding-top: 2.25rem,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 0,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  card-background-gradient-1: #e5caca,
  card-background-gradient-2: #f8eded,
  card-background-gradient-darker-1: #e7b8b8,
  card-background-gradient-darker-2: #f7e1e1,
  card-border-light-color: #e5caca,
  card-border-darker-color: #eab6b4,
  card-list-border-shadow-1: 0 2px 10px rgba(108, 0, 0, 0.1),
  card-list-border-shadow-2: 0 10px 15px rgba(128, 0, 0, 0.2),
  card-divider-width: 0px,
  card-header-expand-icon-color: #d3d3d3,
  card-header-expand-icon-hover-color: #808080,
  card-background-color: #fff,
  card-highlight-card-icon-shadow-box: 0 14px 24px rgba(253, 230, 54, 0.3),
  card-highlight-overlay-color: rgb(255 233 62 / 59%),
  shop-card-background-color: #efe7e7,
  shop-card-hover-background-color: #f58181,
  bs-alert-info-bg: #d1e6f1,
  bs-alert-border-info-color: #b9ceea,
  bs-alert-info-color: #0e4e6e,
  bs-alert-note-bg: #ede5e5,
  bs-alert-border-note-color: #333333,
  bs-alert-note-color: #333333,
  bs-modal-bg-color: #fff,
  bs-body-bg: #f1f1f1,
  leaderboard-ranking: #f1f1f1,
  leaderboard-ranking-shadow: 0 36px 48px rgb(247 95 101 / 24%),
  leaderboard-top-background-image: linear-gradient(to right, #d54a4a, #f58181),
  leaderboard-top-box-shadow: 10px 24px 28px rgb(142 29 35 / 28%),
  layout-padding: 0,
  header-height: 100px,
  header-shadow: none,
  sidebar-shadow: none,
  sidebar-width: 20%,
  sidebar-height: auto,
  footer-divider-color: #ffffff00,
  footer-shadow: none,
  footer-padding: 0.25rem 1.25rem,
  select-min-width: 6rem,
  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  footer-text-font-size: px,
  footer-text-font-weight: 500,
  border-radius: 10px,
  card-border-radius: 8px,
  card-divider-color: #e58e8b70,
  badge-info-background-color: #2e2e2e,
  toastr-info-background-color: #69addd,
  bg-success-color: gold,
  bg-success-bg-color: #fff09a,
  global-message-info: #d6e8dc,
  global-message-info-border: #64a94c,
  link-text-color: #ff3333,
  spinner-basic-background-color: transparent,
  cookie-banner-background-color: #dd6d6d,
  tree-grid-cell-padding: 0.875rem 0.8rem,
  airdrop-input-bg: #eddede,
  toastr-success-background-color: #00c583,
  option-selected-hover-background-color: #e0a7a7,
  badge-basic-background-color: #e8d7d7,
  notif-bar-border-bottom-color: rgb(77, 39, 39),
  notif-bar-hover-color: rgb(234 229 229),
  btn-background-hover-color: #e4e3e3,
  option-selected-background-color: #e0a7a7,
  option-selected-focus-background-color: #e0a7a7,
  select-outline-basic-focus-border-color: #e4e9f2,
  select-outline-basic-background-color: rgba(115, 126, 141, 0.08),
  select-outline-basic-background-color-alt: rgb(141 115 115 / 21%),
  select-outline-basic-hover-background-color: #ebecec,
  select-outline-basic-hover-border-color: rgba(115, 126, 141, 0.45),
), default, default);

$nb-themes: nb-register-theme((
  font-family-primary: $font-family-base,
  font-family-secondary: $font-family-header,
  text-basic-color: rgb(229 231 235),
  text-hint-color: #f3f3ff,
  text-secondary-color: #f0f0ff,
  text-title-color: #fb513b,
  text-hss-color: #df2727,
  bs-heading-color: #fb513b,
  font-white-color: #fafafa,
  font-header-white-color: #fafafa,
  bg-primary-color: #34373e,
  bg-primary-color-transparent: rgb(79 64 64),
  bg-hover-primary-color: #21232a,
  footer-text-highlight-color: #f27f7f,
  header-background-color: #21232a,
  header-connect-button-bg-color: #ff9184,
  header-connect-button-bg-hover-color: #e19696,
  bs-dropdown-link-hover-bg: #5f282a,
  bs-dropdown-item-link-hover-bg: #544646,
  footer-background-color: #21232a,
  sidebar-background-color: #21232a,
  layout-background-color: #21232a,
  --sprd-main1: #21232a,
  tree-grid-row-even-background-color: #292c35,
  tree-grid-row-background-color: #21232a,
  tree-grid-row-background-color-highlight: #21232a,
  tree-grid-row-hover-background-color: #21232a,
  tree-grid-header-background-color: #1e0909,
  tree-grid-header-background-color-light: #3e4250,
  tree-grid-header-background-color-darker: #20273c,
  menu-item-icon-hover-color: #21232a,
  color-danger-hover: #d23f3f,
  color-danger-focus: #d75b5b,
  span-error-background:  #d75b5b,
  input-danger-background-color: #21232a,
  select-outline-danger-background-color: #21232a,
  option-list-background-color: #21232a,
  color-basic-default: #21232a,
  color-danger-default: #e58e8b,
  text-subtitle-2-font-weight: normal,
  layout-padding-top: 2.25rem,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 0,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  card-background-gradient-1: #34373e,
  card-background-gradient-2: #34373e,
  card-background-gradient-darker-1: #34373e,
  card-background-gradient-darker-2: #34373e,
  card-border-light-color: #34373e,
  card-border-darker-color: #34373e,
  card-list-border-shadow-1: none,
  card-list-border-shadow-2: none,
  card-divider-width: 0px,
  card-header-expand-icon-color: #666,
  card-header-expand-icon-hover-color: #555,
  card-background-color: #34373e,
  card-highlight-card-icon-shadow-box: none,
  card-highlight-overlay-color: none,
  shop-card-background-color: #34373e,
  shop-card-hover-background-color: #43464e,
  tag-filled-basic-background-color: #666,
  bs-alert-info-bg: #d1e6f1,
  bs-alert-border-info-color: #b9ceea,
  bs-alert-info-color: #0e4e6e,
  bs-alert-note-bg: rgb(160 169 190),
  bs-alert-border-note-color: rgb(163 167 183),
  bs-alert-note-color: #333333,
  bs-modal-bg-color: #34373e,
  bs-body-bg: #464a54,
  leaderboard-ranking: #34373d,
  leaderboard-ranking-shadow: none,
  leaderboard-top-background-image: linear-gradient(to right, #4c4c4c, #35373c),
  leaderboard-top-box-shadow: none,
  button-filled-basic-hover-background-color: #34373e,
  button-filled-basic-active-background-color: #52555b,
  layout-padding: 0,
  header-height: 100px,
  header-shadow: none,
  sidebar-shadow: none,
  sidebar-width: 20%,
  sidebar-height: auto,
  footer-divider-color: #ffffff00,
  footer-shadow: none,
  footer-padding: 0.25rem 1.25rem,
  select-min-width: 6rem,
  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  footer-text-font-size: px,
  footer-text-font-weight: 500,
  border-radius: 10px,
  card-border-radius: 8px,
  card-divider-color: #e58e8b70,
  badge-info-background-color: #2e2e2e,
  toastr-info-background-color: #69addd,
  bg-success-color: gold,
  bg-success-bg-color: #575134,
  global-message-info: #323734,
  global-message-info-border: #335926,
  link-text-color: #ff3333,
  spinner-basic-background-color: transparent,
  cookie-banner-background-color: #414552,
  tree-grid-cell-padding: 0.875rem 0.8rem,
  airdrop-input-bg: #60292b,
  toastr-success-background-color: #00865a,
  option-selected-hover-background-color: #454e5a,
  notif-bar-border-bottom-color: rgb(30, 41, 59),
  notif-bar-hover-color: rgb(57 64 75),
  btn-background-hover-color: #2B3139,
  option-selected-background-color: #454e5a,
  option-selected-focus-background-color: #454e5a,
  select-outline-basic-focus-border-color: #101426,
  select-outline-basic-background-color: rgb(38 42 51),
  select-outline-basic-background-color-alt: rgb(38 42 51),
  select-outline-basic-hover-background-color: #262a33,
  select-outline-basic-hover-border-color: rgba(115, 126, 141, 0.45),
), dark, dark);
